/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 nov. 2016, 09:23:56
    Author     : thibom
*/

/*BODY{
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#titreIndex{
    color:red;
}

#divForm{
    width:100%;
}

#inputSalon, #inputPseudo, #pseudoAdmin, #passwordAdmin{
    display:block;
    width:80%;
    margin:auto;
    margin-bottom:10px;
}

#btnUtilisateur, #btnAdmin{
    display:block;
    margin:auto;
    margin-bottom:10px;   
}

#divUtilisateur, #divAdmin{
    margin:auto;
    display:inline-block;
    width:49%;   
}

#divUtilisateur, #divAdmin{
    border: solid 1px #000;
}


.titreDiv, #titreIndex{
    text-align:center;
}

